body {
    background-image: url("../images/background.png");
    background-size: cover;
}
div{
    background-color: white;
    margin: 10px;
    width: 25%
}
h1, h3, span{
    font-weight: bold;
    text-align: center;
}
h1{
    font-size: 30px;
}
.ol{
    list-style: decimal-leading-zero;
}
.ul{
    list-style: disc inside;
    text-indent: 30px;
}
div.header, div crystals{
    background-color: orangered;
}
div.header, div instructions{
    width:50%;
}
.numbersToMatch, .winsAndLosses{
    float: left;
    width: 20%;
    height:60px;
}
.userTotal{
    width: 20%;
    height: 60%;
}
.crystals{
    clear: both;
}
.crystalImage{
    height: 60px;
    margin:15px;
}
#blue{
    color: blue;
}
#green{
    color: green;
}
#red{
    color: red;
}
#yellow{
    color: yellow;
}