body {
    background-image: url("../images/background.png");
    background-size: cover;
}
.container {
    margin: 0 auto;
}
div{
    background-color: white;
    margin: 10px 0;
    max-width: 960px;
}
h1, h3, span{
    font-weight: bold;
    text-align: center;
}
h1{
    font-size: 30px;
}
/* h2{
    height: 60px;
    width: 10px;
} */
ol{
    list-style: decimal-leading-zero;
    
}
ul{
    list-style: disc inside;
    text-indent: 30px;
    
}
div.header, div crystals{
    background-color: orangered;
}
.instructions{
    width:50%;
    margin: 0 auto;

}
.numberToMatch, .winsAndLosses, .userTotal {
    /* float:left; */
    /* width: 20%; */
    min-height:60px;
    background-color: aqua;
}
.crystals{
    clear: both;
}
.crystalImage{
    height: 60px;
    margin:15px;
}
#blue{
    color: blue;
}
#green{
    color: green;
}
#red{
    color: red;
}
#yellow{
    color: yellow;
}